<settings>
    <!-- *Default info -->
    <setting propertyKey="@Properties.appVersion" title="@Strings.AppName">
        <settingConfig type="alphaNumeric" readonly="true" />
    </setting>

    <!-- *Set Console detail -->
    <group id="consoleGroup" title="@Strings.consoleGroupTitle">
        <setting propertyKey="@Properties.isConsoleDetailShown" title="@Strings.isConsoleDetailShown">
            <settingConfig type="boolean" />
        </setting>

        <setting propertyKey="@Properties.isConsoleLabelShown" title="@Strings.isConsoleLabelShown">
            <settingConfig type="boolean" />
        </setting>
    
        <setting propertyKey="@Properties.consoleUserName" title="@Strings.consoleUserName">
            <settingConfig type="alphaNumeric" required="true" />
        </setting>

        <setting propertyKey="@Properties.consoleDeviceName" title="@Strings.consoleDeviceName">
            <settingConfig type="alphaNumeric" required="true" />
        </setting>
        
        <setting propertyKey="@Properties.consoleCommand" title="@Strings.consoleCommand">
            <settingConfig type="alphaNumeric" />
        </setting>
    </group>

    <!-- *Show Bluetooth / isHRShown status -->
    <setting propertyKey="@Properties.isBtShown" title="@Strings.isBtShown">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.isHRShown" title="@Strings.isHRShown">
        <settingConfig type="boolean" readonly="true"/>
    </setting>

    <!-- *Text properties -->
    <setting propertyKey="@Properties.isColorated" title="@Strings.isColorated">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.isCentered" title="@Strings.isCentered">
        <settingConfig type="boolean" />
    </setting>

    <!-- *Date properties -->
    <setting propertyKey="@Properties.dateOrderOption" title="@Strings.dateOrderOption">
        <settingConfig type="list">
            <listEntry value="0">@Strings.dateOrderOption0</listEntry>
            <listEntry value="1">@Strings.dateOrderOption1</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.dateFormatOption" title="@Strings.dateFormatOption">
        <settingConfig type="list">
            <listEntry value="0">@Strings.dateFormatOption0</listEntry>
            <listEntry value="1">@Strings.dateFormatOption1</listEntry>
        </settingConfig>
    </setting>

    <!-- *Show step / step goal -->
    <setting propertyKey="@Properties.stepViewOption" title="@Strings.stepViewOption">
        <settingConfig type="list">
            <listEntry value="0">@Strings.stepViewOption0</listEntry>
            <listEntry value="1">@Strings.stepViewOption1</listEntry>
            <listEntry value="2">@Strings.stepViewOption2</listEntry>
        </settingConfig>
    </setting>
    
    <!-- *Show stair / stair goal -->
    <setting propertyKey="@Properties.flrsViewOption" title="@Strings.flrsViewOption">
        <settingConfig type="list">
            <listEntry value="0">@Strings.flrsViewOption0</listEntry>
            <listEntry value="1">@Strings.flrsViewOption1</listEntry>
            <listEntry value="2">@Strings.flrsViewOption2</listEntry>
        </settingConfig>
    </setting>
</settings>
